Sign In
<form class="sign-in" action="<%= session_url %>" method="POST">
  <%= auth_token %>
  <ul>
    <li>
      <label>Username
        <input type="text" name="user[username]"/>
      </label>
    </li>
    <li>
      <label>Password
        <input type="password" name="user[password]"/>
      </label>
    </li>
</ul>
  <input class="submit-button" type="submit" value="Sign In"/>
</form>
