<h1>Sign Up</h1>
<form class="sign-in" action="<%= users_url %>" method="POST">
  <%= auth_token %>
  <ul>
    <li>
      <label>Username
        <input type="text" name="user[username]"/>
      </label>
    </li>
    <li>
      <label>Password
        <input type="password" name="user[password]"/>
      </label>
    </li>
    <li>
    <label>Bio
      <textarea name="user[body]"></textarea>
    </label>
  </li>
  <input class="submit-button" type="submit" value="Sign Up"/>
</ul>
</form>
