/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, header, li, span, a, figure, div, ul {
   background: transparent;
   font: inherit;
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   list-style: none;
   font-family: inherit;
   font-size: inherit;
   color: inherit;
   text-align: inherit;
 }


 ul{
   list-style: none;
 }

body {
  background: #FAFAFA;
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

    .users {
      margin-left: 10px;
    }
   .header {
     height: 100px;
     padding: 10px;
   }

   ul.group.nav-ul .search-bar {
     margin-left: 50px;
   }

   .header-nav {
     top: 20px;
   }

   .header-nav {
     max-width: 800px;
   }

   div.nav-links {
     float: right;
   }

   .logo {

   }

   .user-options {
     width: 180px;
   }

   .search-bar {
     margin: auto;
     text-align: center;
     width: 300px;
   }
   .nav-links {
     margin-left: 10px;
     float:left;
   }

   .nav-links > li {
     font-size: 25px;
   }

   .nav-links > li a {
     font-size: 25px;
   }

   .nav-links > li button {
     font-size: 25px;
   }

   .search-bar > input {
     width: 300px;
   }

   .header-nav {
     width: 100%;
   }
   .post {
     width: 100%;
   }
}

 a{
   color: #125688;
   font-size: 15px;
 }

h1{
  text-align: center;
}

.group:after{
  clear: both;
  display: block;
  content: "";
}

.location-link a {
  color: #4090db;
}
