/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, header, li, span, a, figure, div, ul {
   background: transparent;
   font: inherit;
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   list-style: none;
   font-family: inherit;
   font-size: inherit;
   color: inherit;
   text-align: inherit;
 }


 ul{
   list-style: none;
 }

body {
  background: #FAFAFA;
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
}

 a{
   color: #125688;
   font-size: 15px;
 }

h1{
  text-align: center;
}


.post-grid-square{
  width: 294px;
  height: 294px;
  background: #fff;
  float: left;
  margin: 15px;
  overflow: hidden;

}

.post-grid-square img{
  height: 100%;
  display: block;
  margin-right: 100px;
}

.group:after{
  clear: both;
  display: block;
  content: "";
}

.post-grid{
/*background: #edeeee;*/
width: 972px;
margin: 0 auto 150px;
}

.location-link a {
  color: #4090db;
}
