/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, header, li, span, a, figure, div, ul {
   background: transparent;
   font: inherit;
   font-family: sans-serif;
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   list-style: none;
 }


 ul{
   list-style: none;
 }

body {
  background: #FAFAFA;
}
 .post-header {
   height: 66px;
   display: block;
   position: relative;
 }

 a{
   color: #125688;
   font-size: 15px;
 }

.post-image-container {

  height: 500px;
  background: lightblue;
  color: white;
}

.post {
  width: 600px;
  margin: 10px auto 25px;
  background: #fff;
  border: 1px solid #edeeee;
  border-radius: 3px;
}

.post-header small{

  right: 10px;
  color: #a5a7aa;
  position: absolute;

}

.post a{
  margin-left: 10px;
}

.post-header li{
  top: 25px;
  display: block;
  position: relative;
}

.comments {
  background: white;
  min-height: 50px;
}

.create-comment {
  display: block;
  height: 30px;
  border-top: 1px solid #edeeee;
  padding-top: 10px;
  padding-left: 10px;
}

h1{
  text-align: center;
}

.comments{
  margin-top: 10px;
}

.post-grid-square{
  width: 294px;
  height: 294px;
  background: lightgrey;
  float: left;
  margin: 15px;

}

.group:after{
  clear: both;
  display: block;
  content: "";
}

.post-grid{
background: #edeeee;
width: 972px;
margin: auto;
}
