
.create-comment {
  margin-left: 10px;
  margin-right: 20px;
  display: block;
  height: 30px;
  border-top: 1px solid #edeeee;
  padding-top: 10px;
  padding-bottom: 10px;

}

.comments a{
  font-weight: 600;
}

.add-comment {
  float: left;
  margin-left: 10px;

}

.create-comment form {
  float: left;
  // height: 50px;
}


.add-comment input {
  background: transparent;
  // position: absolute;
  padding: 6px 10px;
  border: 0;

}
.create-comment-text {
  border: 0px;
  float: left;
  width: 470px;
  font-size: 16px;
  outline: none;
  display: block;
  margin-left: 11px;
  position: relative;
  top: 4px;
  height: 100%;
}

.comment-box {
  padding: 10px 0 10px 10px;
  padding-left: 10px;
  min-height: 10px;
}

.comment-box li {
  padding: 2px 0 2px 0;
}

.comments {
  background: white;
}


.comment-box li{
  // padding-left: 0px;
  // margin-left: 0px;
}
.like-button {
  background: transparent;
  border: none;
  outline: none;
  display: inline-block;
  float: left;
  margin-right: 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;

  position: relative;

  transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}

.like-button:hover {
  margin-top: -4px;
  transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}

[class*="icon-"] {
  display: inline-block;
  background-image: asset-data-url("sprite.png");
  background-repeat: no-repeat;
  vertical-align: bottom;
  // overflow: hidden;
  height: 0;
  height: 44px;
  width: 44px;

}

.icon-heart-red {
  bottom: -12px;
  right: -10px;
  position: absolute;
  background-position: -173px -322px;
}

.icon-heart-gray {
  bottom: -12px;
  right: -10px;
  position: absolute;
  background-position: -265px -322px;
  height: 44px;
  width: 44px;

}

.liked {
  // background: #f00;
}

.unliked {
  background: #ccc;
}

.like-bar {
  padding-top: 10px;
  padding-left: 10px;
}

.like-bar > span {
  color: #4b4f54;
  font-weight: 500;
}

.user-likes {
  float: left;
}

.red-user {
  color: #f00;
}
.num-likes {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
