.create-comment {
  padding: 5px;
}

.add-comment {
  float: right;
  // display: block;
  // bottom: 8px;
  // position: relative;
}

.num-likes {
  margin-left: 10px;
  padding: 5px 0 5px;
}

.add-comment input {
  background: transparent;
  // position: absolute;
  padding: 6px 10px;
  border: 0;
  float: right;

}
.create-comment-text {
  border: 0px;
  float: left;
  width: 500px;
  font-size: 16px;
  // border: 1px solid black;
  outline: none;
  display: block;
  // background: black;
  position: relative;
  top: 4px;
}

.comment-box {
  padding: 10px 0 10px 10px;
  padding-left: 10px;
  min-height: 10px;
  // max-height: 250px;
  // overflow-y: scroll;
}

.comment-box li {
  padding: 2px 0 2px 0;
}

.comments {
  background: white;
}

.create-comment {
  display: block;
  height: 30px;
  border-top: 1px solid #edeeee;
  padding-top: 10px;
  padding-left: 10px;
}

.comment-box li{
  // padding-left: 0px;
  // margin-left: 0px;
}
.like-button {
  float: left;
  display: block;
  width: 25px;
  height: 25px;
  padding: 7px 10px;
  background: #f00;
  // border: 0px;
  margin-right: 5px;
  border-radius: 5px;
  outline: none;
}

.liked {
  background: #f00;
}

.unliked {
  background: #ccc;
}
