.header{
  border-bottom: 1px solid #edeeee;
  margin-bottom: 0px;
  height: 60px;
  padding-top: 10px;
  // padding: 20px;
  background: white;
}

.search-bar {
  float: left;
  position: relative;
  margin-left: 50px;
  display: block;
  bottom: -8px;
  color: #125688;
  // bottom: 9px;
}

.user-options.disp {
  display: block;
}

.user-options.active {
  opacity: .9;
}


.user-options {
  display: none;
  z-index: 5;

  opacity: 0;
  transition: opacity .25s ease-in-out;
 -moz-transition: opacity .25s ease-in-out;
 -webkit-transition: opacity .25s ease-in-out;

  background: #eee;
  width: 100px;
  position: absolute;
  // margin-top: 15px;
  // bottom: -15px;
  top: 25px;
  border-radius: 15px;
}

.icon-search {
    background-position: -516px -360px;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 12px;
    left: 7px;

}

.search-bar input {
  border: 1px solid #edeeee;
  border-radius: 15px;
  width: 190px;
  font-size: 16px;
  padding: 7px;
    padding-left: 20px;
  outline: none;
  background: #FAFAFA;
}

.search-bar input:hover {
  background: #eee;
}


.block {
  display: block;
}

.search-results {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  background: #fff;
  max-height: 250px;
  overflow-y: scroll;
  z-index: 5;
}

.search-results:empty {
  border: none;
}

.user-options > li:hover {
  background: white;
}

.search-results li{
  border-bottom: 1px solid #ccc;
}

.search-results li > a {
  padding: 15px;
  display: block;
}

.search-results li:last-child{
  border-bottom: 0;
}

.sign-out-button {
  margin: 0px;
  padding: 0;
}

.sign-out-button button {
  cursor: pointer;
  font-size: 16px;
  color: #125688;
  background: transparent;
  border: none;
}

.group{
  clear: both;
  content: "";
  display: block;
}

.header-nav{
  margin: auto;
  width: 600px;
  font-size: 15px;
  position: relative;
}

.logo{
  // margin-top: 4px;
  font-size: 26px;
  // font-weight: 700;
  // float: left;
  font-family: 'Pacifico', cursive;
}

.nav-ul > li {
  float: left;
}

.nav-links {
  float: right;
  position: relative;
  bottom: -19px;
}

.nav-links > li > a:hover {
  background: #edeeee;
}

.users {
  padding: 10px;
}

.nav-links > li {
  float: left;
}

.user-name-nav {
  color: #125688;
  cursor: pointer;
  position: relative;
}

.user-options > li > :first-child {
    padding: 15px;
    display: block;
}

.user-name-nav > span {
  padding: 10px;
}

.user-name-nav > span:hover {
  background: #edeeee;
}
