.header{
  border-bottom: 1px solid #edeeee;
}

.group{
  clear: both;
  content: "";
  display: block;
}

.header-nav{
  margin: auto;
  // background: black;
  width: 600px;
}

.logo{
  font-family: cursive;
  color: blue;
  font-size: 26px;
  font-weight: 700;
}
