.header{
  border-bottom: 1px solid #edeeee;
  margin-bottom: 0px;
  height: 60px;
  padding-top: 10px;
  // padding: 20px;
  background: white;
}

.current-user {
  // right: 0px;
  // top: 15px;
  // position: absolute;
}

.search-bar {
  float: left;
  position: relative;
  margin-left: 30px;
  display: block;
  color: #125688;
  bottom: 2px;
}

.search-bar input {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 190px;
  padding: 5px;
  margin-left: 2px;
}

.sign-out-button {
  // right: 0px;
  // top: 40px;
  position: relative;
  bottom: 2px;
  display: block;


}

.sign-out-button button {
  cursor: pointer;
  font-size: 16px;
  color: #125688;
  background: transparent;
  border: none;
}

.users {
  // right: 80px;
  // top: 40px;
  // position: absolute;
}

.group{
  clear: both;
  content: "";
  display: block;
}

.header-nav{
  margin: auto;
  width: 600px;
  position: relative;
}

.logo{
  margin-top: 4px;
  font-family: cursive;
  font-size: 26px;
  font-weight: 700;
  float: left;
}

.nav-links {
  float: right;
}

.header a {
  padding: 10px;
}

.nav-links > li {
  float: left;
}
