.icon-new-post{
  // font-size: 25px;
  // color: #4090db;
  // border: 2px solid #4090db;
  width: 38px;
  height: 38px;
  margin: auto;
  display: block;
  margin: auto;
  background-position: -102px -25px;
  // border-radius: 50%;
  cursor: pointer;


  -moz-transition: transform 1s ease;
  -webkit-transition: transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;


}

.icon-new-post:hover {
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg); /* Standard syntax */

}

.post-head-pic {
  display: inline-block;
  float: left;
  position: relative;
  bottom: 5px;
  margin-right: 10px;
  border-radius: 90px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

.nudge {
  bottom: -2px;
}

.post-head-pic > img {
  height: 100%;
}

.delete-post {
  cursor: pointer;
  display: inline;
  color: #4090db;
  position: absolute;
  top: 0px;
  left: 0px;
}

.post-header > :first-child {
  font-weight: 600;
  font-size: 15px;
}

.post-header > :first-child > a:hover {
  color: #0d3c5f;
}

.post-header {
  height: 66px;
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
}

.post-image-container {
 border-top: 1px solid #edeeee;
 border-bottom: 1px solid #edeeee;
 height: auto;
 background: #fff;
 color: white;
 max-height: 1200px;
 overflow: hidden;

}

.post-image-container img{
  // max-height: 200px;
}
.post img {
 /*height: 100%;*/
 width: 100%;
 display: block;
 margin: auto;
}

.post {
 width: 600px;
 margin: 10px auto 25px;
 background: #fff;
 border: 1px solid #edeeee;
 border-radius: 3px;
 overflow: hidden;
}


.post-header small{

 right: 0px;
 color: #a5a7aa;
 position: absolute;

}

.post-header li{
 top: 25px;
 display: block;
 position: relative;
}

.load-more {
  cursor: pointer;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #4090db;
  margin: auto;
  position: relative;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;

}

.caption:hover {
  background: #eee;
}

.fields:hover {
  background: #eee;
}

.load-more span {
  // position: absolute;
  color: #4090db;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  margin: auto;
  display: block;

}

.load-more:hover {
  background: #eee;
}
