.post-form {
  height: 500px;
  width: 700px;
  margin: auto;
  background: lightblue;
  position: relative;
}

.add-photo {
  float: left;
  height: 100%;
  width: 60%;
  background: grey;
}

.post-form-right {
  width: 40%;
  right: 0px;
  position: absolute;
  height: 100%;
}

.post-form-right form {
  padding: 20px;
}

.post-form img {
  width: 100%;
  height: auto;
  display: block;
}
