.new-post{

  border: 2px solid #4090db;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.delete-post {
  cursor: pointer;
  display: inline;
  color: #4090db;
}

.new-post span {
  font-size: 25px;
  margin: auto;
  color: #4090db;
  left: 8px;
  bottom:2px;
  position: absolute;

}

.post-header {
  height: 66px;
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
}

.post-image-container {
 border-top: 1px solid #edeeee;
 border-bottom: 1px solid #edeeee;
 height: auto;
 background: #fff;
 color: white;
 max-height: 1200px;
 overflow: hidden;

}

.post-image-container img{
  // max-height: 200px;
}
.post img {
 /*height: 100%;*/
 width: 100%;
 display: block;
 margin: auto;
}

.post {
 width: 600px;
 margin: 10px auto 25px;
 background: #fff;
 border: 1px solid #edeeee;
 border-radius: 3px;
 overflow: hidden;
}


.post-header small{

 right: 0px;
 color: #a5a7aa;
 position: absolute;

}

.post-header li{
 top: 25px;
 display: block;
 position: relative;
}

.load-more {
  cursor: pointer;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #4090db;
  margin: auto;
  position: relative;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;

}

.caption:hover {
  background: #eee;
}

.fields:hover {
  background: #eee;
}

.load-more span {
  // position: absolute;
  color: #4090db;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  margin: auto;
  display: block;

}

.load-more:hover {
  background: #eee;
}
