// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status{
  // margin: auto;
}

.sign-in{
  background: #fff;
  margin: auto;
  padding: 40px;
  width: 400px;
  border: 1px solid #edeeee;
  border-radius: 5px;
  font-weight: bold;
  color: #055;
}

.content-area {
  height: 89vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: baseline;
}

.sign-in > ul{
  width: 280px;
  margin: 30px auto;
}

.sign-in > ul > li{
  margin-bottom: 10px;
}

.sign-in textarea {
  height: 60px;
}

.sign-in input {
  margin-bottom: 15px;
}

.sign-in label {
  font-size: 20px;
}

.submit-button:hover {
  background: #0000cc;
}

.fbook {
  padding: 10px 20px;
  width: 90%;
  border-radius: 5px;
  text-align: center;
  color: white;
  display: block;
  background: #00cc00;
}
.fbook:hover {
  background: #006600;
}

.submit-button {
  background: #4090db;
  color: #fff;
  font-weight: bold;
  margin: auto;
  display: block;
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  // margin-top: 15px;
  margin-bottom: 15px;
}

.fields {
  margin-top: 10px;
  border: 1px solid #edeeee;
  width: 97%;
  padding: 6px;
  border-radius: 10px;
  background: #fdfdfd;
  font-size: 16px;
}
