.user-container{
  width: 973px;
  margin: auto;
}

.user-header{
  height: 200px;
  padding: 40px;
}

.label-and-user-pic {
  float: left;
  margin-left: 20px;
  width: 120px;
}

.account-info .stats {
  font-size: 16px;
  line-height: 200%;
  font-weight: 600;
}

.user-pic-container {
  width: 100%;
  height: 120px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  // border: 1px solid #ccc;
  background: #FAFAFA;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.user-pic-container:empty {
  border: none;
  display: none;
}

.user-pic {
  width: 100%;
}

.file-select-label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 10px;
  text-align: center;

}

.user-header > div{
}
.account-info button{

  // width: 100px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 6px;
  border: 0;
  // padding: 10px 10px;
  text-transform: uppercase;
  display: block;
  background: #4090db;
  color: white;
  cursor: pointer;
}

.account-info {
  color: #4b4f54;
  font-weight: 300;
  font-size: 36px;
  padding: 10px;
}

.user-header > figure{

}

.account-info{
  width: 400px;
  height: 200px;
  margin: auto;
}

.account-info > li {
  font-size: 26px;
  margin-bottom: 10px;
}

.file-select {
  display: none;
}

.post-grid {
  width: 972px;
  margin: 0 auto 150px;
}

.post-grid-square{
  width: 294px;
  height: 294px;
  background: #fff;
  float: left;
  margin: 15px;
  position: relative;
  overflow: hidden;

  // display: flex;
  // display: -webkit-flex;
  // align-items: center;
  // -webkit-align-items: center;

}

.square-hover {
  width: 294px;
  height: 294px;
  z-index: -2;
  background: transparent;
  display: block;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.post-grid-square img{
  // height: 100%;

  width: 100%;
  display: block;
}

.square-info {
  opacity: 0;
  position: absolute;
  top: 120px;
  left: 100px;
  font-size: 30px;
  color: #fff;
  // left: 15px;
  // z-index: 8;
}

.square-hover:hover{
  opacity: 1;
  background: black;
}

.post-grid-square:hover .square-info {
  opacity: 1;
}



.square-hover:hover .grid-img{
  opacity: .4;
}
