.user-container{
  width: 973px;
  margin: auto;
}

.user-header{
  height: 200px;
}

.user-header > div{
}
.account-info button{
  height: 25px;
  width: 100px;
  background: green;
  color: white;
}

.account-info {
  color: #4b4f54;
  font-weight: 300;
  font-size: 36px;
}

.user-header > figure{
  color: white;
  width: 100px;
  height: 100px;
  background: lightgrey;
  padding: 50px;
  float: left;
}

.account-info{
  width: 400px;
  height: 200px;
  background: white;
  margin: auto;
}

.account-info > li {
  font-size: 26px;
}
