.user-list {
  background: #edeeee;
  margin: auto;
  display: block;
  // width: 80%;
  border: 1px solid lightgrey;

  max-height: 1000px;
  // overflow-y: scroll;
  margin-bottom: 20px;
}

.uname {
  float: left;
  margin-left: 5px;
}

.user-thumb {
  height: 50px;
  float: left;
}

.users-content {
  display: block;
  padding: 100px;
}

.user-list li:first-child a{
  border-top: 1px solid black;
}

.user-list a:hover{
  background: #ccc;
}

.user-list a {
  border-bottom: 1px solid black;
  background: #fff;
  padding: 20px;
  display: block;
  font-size: 20px;
}

.body {
  float: left;
  margin-left: 20px;
  color: #000;

}
