.user-list {
  background: #FAFAFA;
  display: block;
  border: 1px solid #efefef;
  max-height: 1000px;
  margin-bottom: 20px;
}

.discover {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #efefef;
    border-bottom: 0;
}

.discover-box {
    max-width: 602px;
    margin: 0 auto;
}

.name-box {
  width: 160px;
  overflow: hidden;
}

.spinner {
  background-image: image-url("spinner.gif");
  display: block;
  width: 120px;
  height: 120px;
  margin: auto;
}

.uname {
  margin-left: 5px;
}

.user-thumb {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.users-content {
  display: block;
  margin-top: 40px;
}

.user-list li:first-child a{
  border-top: 0;
}

.user-list li:last-child a{
  border-bottom: 0;
}

.user-list a:hover{
  // background: #edeeee;
}

.user-list a {
  // border-bottom: 1px solid #efefef;
  // padding: 20px;
  // display: block;
  // font-size: 20px;
}

.body {
  margin-left: 20px;
  color: #000;

}
