.user-list {
  background: #edeeee;
  margin: auto;
  width: 300px;
  border: 1px solid lightgrey;

  max-height: 1000px;
  overflow-y: scroll;
}

.user-list li:first-child a{
  border-top: 1px solid black;
}

.user-list a {
  border-bottom: 1px solid black;
  background: #fff;
  padding: 20px;
  display: block;
  font-size: 20px;
}
